@model IEnumerable<AirlineCompany.Models.Airplanes.Country>
@{
    ViewData["Title"] = "Insert";
}

<h1>Add a destination</h1>
@using (Html.BeginForm("Insert", "Destination", FormMethod.Post))
{

    <label for="Name" class="form-label">Destination name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    <select name="CountryId">
        @foreach (var m in Model)
        {
            <option value="@m.ID">@m.Name</option>
        }
    </select>
    <input type="submit" value="Add" />

}


